# A sample configuration for fedora-messaging. This file is in the TOML format.
# For complete details on all configuration options, see the documentation.

amqp_url = "amqps://centos-odcs:@rabbitmq.fedoraproject.org/%2Fpubsub"

# The topic_prefix configuration value will add a prefix to the topics of every sent message.
# This is used for migrating from fedmsg, and should not be used afterwards.
{% if env == "staging" %}
topic_prefix = "org.centos.stg"
{% else %}
topic_prefix = "org.centos.prod"
{% endif %}

[tls]
ca_cert = "/etc/odcs/ca.crt"
keyfile = "/etc/odcs/{{ odcs_fedora_messaging_tls_file }}.key"
certfile = "/etc/odcs/{{ odcs_fedora_messaging_tls_file }}.crt"

[client_properties]
app = "centos-odcs"

